@model OOP_CA_Macintosh.Models.Courses
<h1> Schedule </h1>
<hr />

<div class="row" , style="width:400%">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <select asp-for="Subject">
                    <option value="it">IT</option>
                    <option value="it">English</option>
                    <option value="it">Maths</option>
                    <option value="it">Physics</option>
                    <option value="it">History</option>
                    <option value="it">Geography</option>
                </select>
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsExam" class="control-label"></label>
                <input asp-for="IsExam" type="checkbox" />
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" type="datetime" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <select asp-for="Length">
                    <option value="1">1:00</option>
                    <option value="1:30">1:30</option>
                    <option value="2">2:00</option>
                    <option value="2:30">2:30</option>
                    <option value="3">3:00</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
