@*

    //TODO If admin or faculty, does not show the page or just "you have no fees to pay"

*@

@model IEnumerable<OOP_CA_Macintosh.Models.Fee>

@if (User.IsInRole("Admin") || User.IsInRole("Faculty"))
{
    <h1>This Section is restricted to Student for tuiton fees</h1>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Total Amount To Pay</p>
                </th>
                <th>
                    <p>Payed</p>
                </th>
                <th>
                    <p>Name</p>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountToPay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (!item.Payed)
                        {
                        <a asp-action="Pay" asp-route-id="@item.Id">Pay</a>
                        }
                        else
                        {
                            <p>Already Payed</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

