@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Macintosh school</h1>
    <div class="hero-block-two-columns  unhide-content-under-sticky-menu">
        <div class="item-1 slide-in-left">
            <img src="../css/img/uni.jpg" alt="sample background image">
        </div>
        <div class="item-2 slide-in-left">
            <img src="../css/img/covid.jpg" alt="sample photo">
        </div>
    </div>
</div>
