@model List<OOP_CA_Macintosh.Models.Events>

@{
    ViewData["Title"] = "Index";
}

<h1>Time Table</h1>

@section Head{
    <link type="text/css" rel="stylesheet" href="themes/calendar_g.css" />
    <link type="text/css" rel="stylesheet" href="themes/calendar_green.css" />
    <link type="text/css" rel="stylesheet" href="themes/calendar_traditional.css" />
    <link type="text/css" rel="stylesheet" href="themes/calendar_transparent.css" />
    <link type="text/css" rel="stylesheet" href="themes/calendar_white.css" />
}

<div style="display: flex">

    <div style="margin-right: 10px;">
        <div id="nav"></div>
    </div>

    <div style="flex-grow: 1;">
        <div id="dp"></div>
    </div>

</div>

<script src="~/lib/daypilot/daypilot-all.min.js" asp-append-version="true"></script>
<script>
    var nav = new DayPilot.Navigator("nav");
    nav.showMonths = 3;
    nav.skipMonths = 3;
    nav.selectMode = "week";
    nav.onTimeRangeSelected = function (args) {
        dp.startDate = args.day;
        dp.update();
        loadEvents();
    };
    nav.init();

    var dp = new DayPilot.Calendar("dp");
    dp.viewType = "Week";

    dp.eventDeleteHandling = "Update";

    dp.onEventDeleted = function (args) {
        DayPilot.Http.ajax({
            url: "/api/CalendarEvents/" + args.e.id(),
            method: "DELETE",
            success: function () {
                console.log("Deleted.");
            }
        });
    };

    dp.onEventMoved = function (args) {
        DayPilot.Http.ajax({
            url: "/api/CalendarEvents/" + args.e.id(),
            method: "PUT",
            data: {
                id: args.e.id(),
                start: args.newStart,
                end: args.newEnd,
                text: args.e.text()
            },
            success: function () {
                console.log("Resized.");
            }
        });
    };

    dp.onEventResized = function (args) {
        DayPilot.Http.ajax({
            url: "/api/CalendarEvents/" + args.e.id(),
            method: "PUT",
            data: {
                id: args.e.id(),
                start: args.newStart,
                end: args.newEnd,
                text: args.e.text()
            },
            success: function () {
                console.log("Resized.");
            }
        });
    };

    // event creating
    dp.onTimeRangeSelected = function (args) {
        var subject = prompt("New event subject:", "Event")
        dp.clearSelection();
        if (!subject) {
            return;
        }
        var description = prompt("New event description:", "Event")
        if (!description) {
            return;
        }
        var isExamP = prompt("Is new event an exam:", "Please \"true\" or \"false\"")
        if(!isExamP)
        {
            return;
        }
        var isExam;
        if(isExamP == "true")
        {
            isExam = true;
        }
        else if(isExamP == "false")
        {
            isExam = false;
        }
        else
        {
            return;
        }
        var facultyId = parseInt(prompt("Professor Id:", "0"), 10);
        if(!facultyId)
        {
            return;
        }

        DayPilot.Http.ajax({
            url: "/api/CalendarEvents",
            method: "POST",
            data: {
                start: args.start,
                end: args.end,
                text: "Course of " + subject + "\nDescription : " + description,
                description: description,
                subject: subject,
                facultyId: facultyId,
                isExam: isExam

            },
            success: function (ajax) {
                var data = ajax.data;
                dp.events.add(new DayPilot.Event({
                    start: args.start,
                    end: args.end,
                    id: data.id,
                    text: "Course of " + subject + "\nDescription : " + description,
                    description: description,
                    subject: subject,
                    facultyId: facultyId,
                    isExam: isExam
                }));
                console.log("Created.");
            }
        });
    };

    dp.onEventClick = function (args) {
        if(args.e.isExam())
        {
            alert("Course of " + args.e.subject() + "\nDescription : " + args.e.description() + "\n\nIt's an exam!!!!");
        }
        else
        {
            alert("Course of " + args.e.subject() + "\nDescription : " + args.e.description() + "\n\nIt's not an exam...");
        }
    };

    dp.init();

    loadEvents();

    function loadEvents() {
        dp.events.load("/api/CalendarEvents");
    }

    var elements = {
        theme: document.querySelector("#theme")
    };

    elements.theme.addEventListener("change", function () {
        dp.theme = this.value;
        dp.update();
    });

</script>