<h2 class="alert-danger" style="padding: 20px;">Do you really want to register ?</h2>

<form asp-action="RegisterToCourse">
    <input type="submit" value="RegisterToCourse" class="btn btn-danger" />
</form>

<a asp-action="AllCourses" asp-controller="Timetable">Go Back</a>